################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/adlermannheimhacs.slnx/FileContentIndex
/.claude
/.vs
